/****** Object:  View [dbo].[Consulta_View]    Script Date: 18/7/2017 11:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[Consulta_View]
AS
SELECT (select Nombre from Tipo_Consulta where ID = dbo.Consulta.Tipo_Consulta) as Tipo_Consulta ,dbo.Consulta.Numero_Factura, 
dbo.Consulta.Fecha, dbo.Consulta.PrecioTotalConsulta, dbo.Consulta.Historia_Clinica, 
(dbo.Paciente.Nombres +' '+ dbo.Paciente.Apellidos) as Paciente, dbo.Paciente.Cedula as Paciente_Cedula,
 dbo.Paciente.Telefono as Paciente_Telefono, dbo.Paciente.Edad as Paciente_Edad, 
--dbo.Procederes.Nombre AS Expr1, dbo.Procederes.Precio
(dbo.Usuarios.Titulo  +': '+dbo.Usuarios.Nombres+' ' +dbo.Usuarios.Apellidos) as Usuario,
dbo.Consulta.ID as IdentificadorConsulta

FROM  dbo.Consulta INNER JOIN
dbo.Paciente_Consulta ON dbo.Consulta.ID = dbo.Paciente_Consulta.Id_Consulta INNER JOIN
dbo.Paciente ON dbo.Paciente_Consulta.Id_Paciente = dbo.Paciente.Cedula INNER JOIN
dbo.Usuarios ON dbo.Consulta.Id_Usuario = dbo.Usuarios.ID





GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[54] 4[7] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -192
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Consulta"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 211
               Right = 234
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Medicamentos_Consulta"
            Begin Extent = 
               Top = 6
               Left = 272
               Bottom = 119
               Right = 450
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Paciente_Consulta"
            Begin Extent = 
               Top = 6
               Left = 488
               Bottom = 119
               Right = 658
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Procederes_Consulta"
            Begin Extent = 
               Top = 6
               Left = 696
               Bottom = 119
               Right = 866
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Tipo_Consulta"
            Begin Extent = 
               Top = 120
               Left = 272
               Bottom = 250
               Right = 442
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Paciente"
            Begin Extent = 
               Top = 120
               Left = 480
               Bottom = 250
               Right = 650
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "Procederes"
            Begin Extent = 
               Top = 120
               Left = 688
               Bottom = 250
               Right = 881
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Consulta_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'           End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Usuarios"
            Begin Extent = 
               Top = 216
               Left = 38
               Bottom = 346
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Consulta_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Consulta_View'
GO
